@model MoviesEntity

@{
    ViewBag.Title = $"About {this.Model.Name}";
    Layout = "_Layout";
}

<h3>About @this.Model.Name</h3>
<div class="container">
    <div class="row">
        <div class="col">
            #
        </div>
        <div class="col">
            Name
        </div>
        <div class="col">
            Year
        </div>
    </div>
    <div class="row">
        <div class="col">
            @this.Model.MoviesId.ToString()
        </div>
        <div class="col">
            @this.Model.Name
        </div>
        <div class="col">
            @this.Model.Year.ToString()
        </div>
    </div>
    <div class="row">
        <div class="col">
            @Html.ActionLink("Back to list", "Index")
        </div>
    </div>
</div>